/* **********Custom Properties********** */
:root {
    --blue-color: rgb(0, 0, 255);
    --font-family-default: "Belanosima", sans-serif;
    --font-family-digital: "clockicons";
    --gray-dark-color: rgb(150, 150, 150);
    --green-dark-color: rgb(30, 177, 30);
    --green-color: rgba(30, 177, 30, 0.9);
    --purple-dark-color: rgb(9, 2, 10);
    --white-dark-color: rgb(255, 255, 255, 0.09);
    --white-color: rgb(255, 255, 255);
    --yellow-color: rgb(214, 228, 24);
}

/* **********Reset Styles********** */
*, 
*:after,
*:before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: var(--font-family-default);
}

li {
    list-style-type: none;
}

/* **********Componentes********** */
/* Header */
.header {
    align-items: center;
    background-color: var(--green-color);
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
}

.header > .arrow-items-header {
    background-color: var(--gray-dark-color);
}

.header > .items-header {
    display: flex;
    justify-content: space-between;
}

.header > .arrow-items-header {
    color: var(--white-color);
}

.header > .arrow-items-header > .chevron-down {
    border-bottom: medium solid var(--white-dark-color);
}

.header > .arrow-items-header > .utilities-dark-light-them-arrow,
.header .utilities-arrow {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-out;
}

@media (min-width: 64rem) {
    .header > .items-header {
        justify-content: flex-end;
    }
}

/* NavMenuAside */
.nav-menu-aside {
    display: flex;
    flex-flow: row nowrap;
    left: 0;
    min-height: 100vh;
    position: fixed;
    top: 0;
    transition: all 0.3s ease-in-out;
    transform: translateX(-9rem);
}

.nav-menu-aside.open-close-menu {
    transform: translateX(0);
}

.nav-menu-aside * {
    color: var(--white-color);
    font-size: 1.5rem;
}

.nav-menu-aside h1 {
    font-size: 2rem;
    text-align: center;
}

.nav-menu-aside > .menu {
    background-color: var(--purple-dark-color);
}

.nav-menu-aside li {
    padding: 3rem;
    transition: all 0.3s ease-in-out;
}

.nav-menu-aside li.active {
    background-color: var(--white-dark-color);
}

.nav-menu-aside li:hover {
    background-color: var(--blue-color);
}

.nav-menu-aside > .show-and-close-menu {
    align-items: center;
    align-self: center;
    background-color: var(--green-dark-color);
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    display: flex;
    justify-content: center;
    padding: 2rem;
    transition: background-color 0.3s ease-in-out;
}

.nav-menu-aside > .show-and-close-menu:hover {
    background-color: var(--green-color);
}

.nav-menu-aside small {
    display: none;
}

@media (min-width: 36rem) {
    .nav-menu-aside {
        transform: translateX(-18rem);
    }

    .nav-menu-aside.open-close-menu {
        transform: translateX(0);
    }

    .nav-menu-aside small {
        display: inline-block;
    }
}

@media (min-width: 64rem) {
    .nav-menu-aside {
        padding: 0;
        transform: translateX(0);
        width: 10rem;
    }

    .nav-menu-aside * {
        display: block;
        font-size: 1rem;
        text-align: center;
    }

    .nav-menu-aside li {
        border-bottom: thin solid var(--white-dark-color);
        padding: 2rem;
    }

    .nav-menu-aside > .show-and-close-menu  {
        display: none;
    }

    .nav-menu-aside.z-index-negative {
        z-index: 1;
    }
}

/* **********SwitchDarkLightTheme********** */
.switch {
    border-radius: 2.125rem;
    display: inline-block;
    height: 2.125rem;
    position: relative;
    width: 3.75rem;
}

.switch > .slider {
    background-image: url("assets/Light.jpeg");
    background-size: cover;
    border-radius: 2.125rem;
    bottom: 0;
    cursor: pointer;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    transition: 0.4s;
    -webkit-transition: 0.4s;
}

.switch > .slider.dark-light-translate {
    background-image: url("assets/Dark.png");
}

.switch > .slider::before {
    background-color: var(--yellow-color);
    border-radius: 50%;
    bottom: 0.25rem;
    content: "";
    height: 1.625rem;
    left: 0.25rem;
    position: absolute;
    transition: 0.4s;
    -webkit-transition: 0.4s;
    width: 1.625rem;
}

.switch > .slider.dark-light-translate::before {
    background-color: var(--white-color);
    transform: translateX(1.625rem);
}

/* Utilities Drop Down */
.utilities-drop-down {
    background-color: var(--white-color);
    box-shadow: 0.0625rem 0.0625rem 0.1875rem 0.0625rem var(--gray-dark-color);
    padding-bottom: 0.1875rem;
    padding-top: 0.1875rem;
    position: fixed;
    right: 7.2rem;
    top: 4.1rem;
    width: 8.3823125rem;
}

.utilities-drop-down::after {
    border-bottom: 0.625rem solid var(--white-color);
	border-left: 0.4375rem solid transparent;
	border-right: 0.4375rem solid transparent;
    content: "";
    height: 0;
    position: fixed;
    right: 13rem;
    top: 3.47rem;
    width: 0;
}

.utilities-drop-down li {
    padding: 0.5rem;
}

.utilities-drop-down li:hover {
    background-color: var(--green-dark-color);
    color: var(--white-color);
}

/* **********Utilities********** */
/* Align Self End */
.align-self-end {
    align-self: flex-end;
}

/* Cursor Pointer */
.cursor-pointer {
    cursor: pointer;
}

/* Display Block and None */
.d-block-none {
    display: block;
}

@media (min-width: 64rem) {
    .d-block-none {
        display: none;
    }
}

/* Display Flex Center */
.d-flex-center {
    display: flex;
    justify-content: center;
}

/* Display Flex Start */
.d-flex-start {
    display: flex;
}

/* Display Flex Row and Column */
@media (min-width: 64rem) {
    .d-flex-row-64rem{
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
    }
}

/* Display None and Block */
.d-none-block {
    display: none;
}

@media (min-width: 64rem) {
    .d-none-block {
        display: block;
    }
}

/* Div Center */
.div-center {
    margin: 0 auto;
}

/* Icon */
.icon {
    font-size: 2.5rem;
}

/* Item Head */
.item-head {
    color: var(--white-color);
    font-size: 1.5rem;
    font-style: italic;
    padding: 0 1rem;
}

/* Padding-1rem */
.padding-1rem {
    padding: 1rem;
}

/* Pading-Top-Bottom-1rem */
.padding-top-bottom-1rem {
    padding-bottom: 1rem;
    padding-top: 1rem;
}

/* Text Align End */
.text-align-center {
    text-align: center;
}

/* Text Align Start */
.text-align-start {
    text-align: left;
}

/* Z Index Negative */
.z-index-negative {
    z-index: -1;
}

/* **********Own Properties********** */
.arrow-utilities:hover {
    background-color: var(--green-dark-color);
}

.main {
    transition: all 0.3s ease-out;
}

.main.translate-15rem-negative {
    transform: translateX(-15rem);
}